.mars-scene {
    display: contents;
    width: 40%;
    height: 40%;
  }
  
  @media (max-width: 767px) {
    .mars-scene {
      width: 100%;
      height: 300px;
    }
  }
  
  .mars-scene img {
    width: 250px;
    height: 163px;
    float: right;

  }

  .loader {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem/* 8px */;
  }

  .loading-effect {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    }
    
    .loading-effect span {
    font-size: 2rem;
    color: #333;
    animation: loading 2s infinite linear;
    }
    
    @keyframes loading {
    0% {
    transform: translateX(-50%);
    }
    100% {
    transform: translateX(50%);
    }
    }