.footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-image: url("@/assets/images/footer-galaxy.webp");
    color: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  

  .footer_text {
    flex: 1;
    text-align: center;
    opacity: 0.4;
  }